/build/
/out/
/cmake-build-*/
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.idb
.DS_Store
.idea/
.vscode/

# macOS
.DS_Store

# Wireshark
*.pcap
*.pcapng
*.cap
*.dmp
*.wireshark
*.dump

# Python Cache
*.pyc
__pycache__/

# Github workflow CI
build-ci/
build-package/
package-ci/